body{
    background-image:url("college.jpg");
    background-size: cover;
}
h1{
    text-align: center;
   color:rgb(113, 209, 17);
}
table{
    width: 100%;
    margin: 80px auto;
    background:black;
    color:white;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 2px solid rgb(247, 240, 240);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: red;
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid red;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgb(255, 0, 119);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: aqua;
}

input[type="reset"]:hover{
    background: aqua;
}

button{
    background: black;
    color: aqua;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: 2px solid blueviolet;
}

button:hover{
    background:rgb(17, 0, 255) ;
}
